.keyboard {
    max-width: 600px;
    margin: 30px auto;
}
.keyboard .keys {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    border-radius: 4px;
    min-width: 36px;
    min-height: 36px;
    background-color: #2f35a1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.btn:hover:not(.btn--disabled) {
    opacity: 0.7;
}
.btn--disabled {
    background-color: #ebe3e3;
    cursor: default;
}
